<h1>Developers</h1>
<div class="container">

  </br>
  <div class="row">
    <div class="col">
      <h5>Name</h5>
    </div>
  </div>
  <% @developers.each do |developer| %>

    <div class="list-group-item list-group-item-action">
      <div class="col">
        <%= link_to developer.name, developer %>
      </div>
    </div>

    </br>
  <% end %>

  <div class="container pagination justify-content-center" >
    <%= paginate @developers, theme: 'twitter-bootstrap-4', pagination_class: "pagination-md" %>
  </div>

</div>