<h1><%= @developer.name %></h1>

<p>This developer made <%= @developer.games.count %> games.</p>

<h2>Games</h2>
<ul>
  <% @developer.games.each do |game| %>
    <li><%= link_to game.name, game %></li>
  <% end %>
</ul>