</br>

<% content_for(:html_title) { @developer.name } %>

<div class="text-decoration-none">
  <a href='#' style="text-decoration:none;" onclick='history.go(-1);return false;'>Return</a>
</div>

</br>

<div class="container">
  <h1><%= @developer.name %></h1>

  <p>This developer made <%= pluralize @developer.games.count, "game" %>.</p>
  <div class="container">
    <h4>Games</h4>
    <ul>
      <% @developer.games.each do |game| %>
        <li><%= link_to game.name, game %></li>
      <% end %>
    </ul>
  </div>
</div>

