<% content_for(:html_title) { "Search: " + params[:keywords] } %>

<p class="mb-5">Search results found <%= pluralize(@games.count, 'video game') %> when searching for: <%= params[:keywords] %></p>

<ul>
  <% @games.each do |game| %>
    <li><%= link_to game.name, game %></li>
  <% end %>
</ul>
