<h1><%= @game.name %></h1>

<p>
  <strong>Genres: </strong>
  <%= @game.genres_list %>
</p>

<p>
  <strong>Platform: </strong>
  <%= @game.platforms_list %>
</p>

<p>
  <div>
    <h5>Description</h5>
    <%= @game.description %>
  </div>
</p>